.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.titulo {
    margin: auto;
}

.fonte-prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    color: #6278F7;
    font-size: 40px;
}

.prata-regular::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #6278F7;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
}

.botao-mostrar {
    border: none;
    background-color: #6278F7;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 50px;
    margin-left: -80px;
    transition: background-color 0.3s ease;
}

.tooltip {
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.botao-mostrar:hover .tooltip {
    opacity: 1;
}

.botao-mostrar:hover .icon {
    color: #95FFD4;
}